body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    color: white;

            text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.profile-container {
    display: flex;
    height: 970px
}

.left-panel-container {
    display: flex;
    background-image: url("artist_not_found.jpg");
    background-size: 100%;
}

.left-panel {
    width: 600px;
    height: 100%;
    background-color: rgba(5,5,5,0.4);
    backdrop-filter: blur(10px);
}

.artists-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.top-artist {
    height: 420px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.top-artist-container {
    display: flex;
    flex-direction: column;
    padding-top : 25px;
}

.top-artist-cover {
    background-image: url("artist_not_found.jpg");
    background-size:100%;
    width: 320px;
    height: 320px;
}

.top-artist-text {
    text-align: center;
    font-size: 24px;
}

.artists {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 480px;
}

.artist-item {
    margin: 0;
    padding: 25px;
    width: 150px;
}

.item-artist-cover {
    width: 170px;
    height: 170px;
    background-size:100%;
}

.item-artist-text {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 30px;
}

.right-panel {
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    background-color: rgba(45,45,45,0.4);
}

.right-panel-container {
    display: flex;
    background-size: 100%;
}

.user-panel {
    display: flex;
    padding-top: 20px;
    height: 205px;
    width: 100%;
}

.user-avatar {
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.user-text {
    font-size: 34px;
    padding-top: 10px;
    padding-left: 10px
}

.user-panel-container {
    display: flex;
}

.user-info-panel {
    display: flex;
    flex-direction: column;
}

.user-info-panel-item-container {
    display: flex;

    padding-top: 25px;
}
.user-info-panel-item-container > .item {
    padding-left: 10px;
    padding-right: 10px;
}

.item-upper {
    font-weight: 400;
    color: darkgrey;
}

.albums-container {
    height: 630px;
}

.top-album {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-album-title {
    font-size: 34px;
    text-align: center;
    padding-top: 15px;
}

.top-artist-title {
    font-size: 34px;
    text-align: center;
    padding-top: 15px;
}

.top-album-container {
    display: flex;
    flex-direction: column;
}

.top-album-cover {
    background-image: url("artist_not_found.jpg");
    background-size:100%;
    width: 250px;
    height: 250px;
}

.top-album-text {
    text-align: center;
    font-size: 18px;
}


.albums {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 330px;
}

.album-item {
    /*padding-top: 15px;*/
    padding: 12px;
    margin: 0;
    width: 150px;
}

.item-album-cover {
    width: 150px;
    height: 150px;
    background-size:100%;
}

.item-album-text {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 20px;
}

.tags {
    height: 56px;
    padding-top: 45px;
    padding-left:5px ;
}

.tags-text {
    text-align: left;
    overflow: hidden;
    height: 100%;
    color: lightgray;
}